.tarjeta {
    display: flex;
    gap: 20px;
    width: 80%;
    padding-bottom: 10px;
}

.tarjeta-contenido {
    color: white;
    font-family: Kanit;
    display: flex;
    flex-flow: column;
    gap: 40px;
}


.tarjeta h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.tarjeta img {
    object-fit: contain;
    min-width: 400px;
    max-width: 100%;
    margin-bottom: -20px;
}

@media (max-width: 1140px) {

    .tarjeta {
        flex-direction: column;
    }
    .tarjeta img {
        max-height: 200px;
        min-width: inherit;
    }
}

@media (max-width: 500px) {

    .tarjeta-contenido {
        font-size: 20px;
    }

    .tarjeta img {
        width: 100%;
    }
}