.creargasto-container {
    color: white;
    padding-block: 20px;
}

.creargasto-header h1 {
    margin: 0;
    padding: 0;
    font-family: Dela Gothic One;
    text-align: center;
    font-weight: initial;
    font-size: 40px;
    margin-bottom: 30px;
}

.creargasto-formularios {
    padding-block: 50px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
    background: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(276deg, #7e4d9f,#7a2da2);
}

.formularios-box {
    width: 80%;
    max-width: 600px;
}

@media (max-width: 1000px) {
    .creargasto-formularios {
        flex-flow: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .formularios-box {
        width: 100%;
    }
}