.container{
    display: flex;
    flex-direction: column;
    background: var(--fondogris);
    color: white;
    font-family: Kanit;
}

.container h1{
    color: white;
    font-family: Dela Gothic One;
    text-align: center;
    font-weight: initial;
    font-size: 40px;

}

.container .formularios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

}

@media (max-width:1140px) {

    .container{
        align-items: center;
        flex-direction: column;
    }
    
}