.finanzas-container {
    display: flex;
    justify-content: center;
    background: var(--fondogris);

}

.finanzas-box {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.finanzas-container h1 {
    color: white;
    font-family: Dela Gothic One;
    text-align: center;
    font-weight: initial;
    font-size: 40px;
}

.btn-container {
    display: flex;
    flex-direction: row;

}

.crear-container {
    margin: 2rem, 0rem;
    background-color: #FBFBFB;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 680px) {
    .finanzas-box {
        width: 100%!important;
    }

    .btn-container {
        width: 100%;
        padding-inline: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        box-sizing: border-box;
    }
}