.gastos-container{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.gastos-header h3{
    color: white;
    font-family: Kanit;
    font-size: larger;
}
.gastos-tabla{
    display: flex;
    justify-content: flex-start;
}
.gastos-boton .boton:hover{
    color: #422657;
    background: #dddddd;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
    box-shadow: inset 0 0 20px white, inset 0 0 5px white, inset 0px 0px 10px #ffffff
}