.notificaciones-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px 20px;
    background: linear-gradient(to top, black, #161616);
    color: white;
    font-family: Kanit;
    font-size: 20px;
}

.notificaciones-container h1 {
    font-family: Dela Gothic One;
    text-align: center;
    font-weight: initial;
    font-size: 40px;
    margin-bottom: 30px;
}

.box-notificaciones {
    display: flex;
    flex-flow: column;
    gap: 25px;
    width: 80%;
    max-width: 700px;
}

.box-notificaciones:empty:before {
    content: 'No hay notificaciones disponibles.';
    display: block;
    width: 100%;
    text-align: center;
 }

@media (max-width: 600px) {
    .notificaciones-container h1 {
        font-size: 35px;
    }
    
    .box-notificaciones {
        width: 100%;
    }
}