.finanzas-container {
    display: flex;
    justify-content: center;
    background: var(--fondogris);
    padding-block: 60px;

    h2 {
        font-family: Dela Gothic One;
        font-size: 32px;
        color: #9d49b2;
        letter-spacing: 2px;
        word-spacing: 2px;
        padding-block: 20px;
        text-shadow: 1px 0px white, -1px 0px white, 0 1px white, 0 -1px white;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
    }
}

.finanzas-box {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.finanzas-container h1 {
    color: white;
    font-family: Dela Gothic One;
    text-align: center;
    font-weight: initial;
    font-size: 40px;
}

.btn-container {
    display: flex;
    flex-direction: row;

}

.crear-container {
    margin: 2rem, 0rem;
    background-color: #FBFBFB;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
}
                 
.finanzas-card {
    background: linear-gradient(#232323, rgb(34, 34, 34));
    border: 1px solid #ffffff5e;
    border-radius: 30px;
    width: 80%;
    padding: 20px;
    margin-block: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-family: Kanit;
}

.finanzas-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    width: 100%;
}

.finanzas-info h5 {
    margin: 0;
    font-size: 28px;
}

.finanzas-detalles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    opacity: 0.9;
}

.finanzas-botones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.finanzas-botones button {
    padding: 15px 40px;
    font-size: 24px;
    width: 100%;
    max-width: 300px;
    border-radius: 50px;
    background: rgb(39, 39, 39);
    border: 1px solid rgb(68, 68, 68);
    color: white;
    font-family: Kanit;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.finanzas-botones button:hover {
    background: rgb(43, 43, 43);
    border-color: rgb(88, 88, 88);
    cursor: pointer;
}

.subtotal-card {
    font-size: 26px!important;
    background: #00000010;
    border: 1px solid #ffffff1a;
    padding: 10px 20px;
    border-radius: 10px;
}

.subtotal-card::before {
    content: 'Total: ';
}

@media (max-width: 680px) {
    .finanzas-card {
        flex-direction: column;
    }
}

@media (max-width: 680px) {
    .finanzas-box {
        width: 100%!important;
    }

    .btn-container {
        width: 100%;
        padding-inline: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        box-sizing: border-box;
    }
}