.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--degrade1);
    color: white;
    font-family: Kanit;
    margin-block: 20px 60px;
    border-radius: 20px;
    padding-block: 20px;
}

.card-container .card-container {
    width: 80%;
    justify-content: space-around;
    margin-block: 15px;
    background: linear-gradient(var(--gris), rgb(34, 34, 34))
}

.info-container h5 {
    font-size: 25px;
    font-weight: bold;
}

.info-container p {
    font-size: 20px;
}

.info-container h5, .info-container p {
    margin: 5px;
}

.cardgastos-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-block: 20px;    
}

.gasto-item{
    background: linear-gradient(#202020, rgb(20, 20, 20));
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5%;
    border: 1px solid #ffffff49;
    
}


.item-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagar{
    display: flex;
    justify-content: center;
    align-items: center;
}