.footer-container {
    width: 100%;
    padding-block: 20px;
    background: var(--gris);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Kanit;
    font-size: 18px;
    box-sizing: border-box;
}

.footer-bloque {
    background: var(--gris);
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 100px;
}

.footer-bloque a {
    color: white;

        svg {
            margin-right: 5px;
        }
}

.footer-container h3 {
    font-weight: bold;
}

.creditos {
    margin-block: 50px 20px;
    font-size: 15px;
    text-align: center;
    padding-inline: 50px;
}

@media (max-width: 760px) {
    .footer-bloque {
        flex-direction: column;
        gap: 10px;
    }

}