.navbar-container a {
    color: white;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    background: var(--gris);
    align-items: center;
    justify-content: center;
    top: 0;
    font-family: Kanit;
    color: white;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-family: Dela Gothic One;
    font-size: 25px;
}

.nav-logo img {
    width: 50px;
    display: inline-block;
}

.icono-nav {
    position: absolute;
    font-size: 30px;
    right: 0;
    padding: 10px 30px;
    display: none;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 100px;
    font-size: 18px;
    position: relative;
    z-index: 3;
}

.navbar ul li:last-child a {
    border: 1px solid white!important;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.2s;
}

.navbar ul li:last-child a:hover {
    background: rgba(128, 128, 128, 0.123);
}

.navbar ul li a {
    display: block;
    padding-block: 18px;
    border: 2px solid transparent;
}

.navbar ul li a:hover {
    border-bottom: 2px solid white;
}

@media (max-width: 920px) {

.navbar ul {
    gap: 18px !important;
}

.icono-nav {
    display: block;
}

.logo-titulo {
    display: none;
}

.navbar-container {
    flex-direction: column;
    align-items: center;
    padding-block: 10px;
}

.navbar ul {
    display: none;
    width: 100%;
    margin-left: 0;
    position: absolute;
    background: black;
    margin-top: 137px;
    justify-content: center;
    gap: 40px;

}

.nav-menu.active {
    display: flex;
}

}