.notificacion {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 20px;
    background: linear-gradient(var(--gris) 40%, #1b1b1b) padding-box, var(--degrade0) border-box;
    border: 3px solid transparent;
    box-sizing: border-box;
    text-align: center;
    border-radius: 30px;
    text-align: left;
    transition: 0.2s;
    cursor: pointer;
}

.notificacion:hover {
    filter: brightness(1.2)
}

.notificacion * {
    padding: 0;
    margin: 0;
}

.notificacion h1 {
    font-weight: bold;
}

.notificacion p {
    font-weight: 400;
}