:root {
    --gris: #0f0f0f;
    --gris2: #1c1c1c;
    --degrade0: linear-gradient(90deg, #4f13ab 0%, #ba7ee5 100%);
    --degrade1: linear-gradient(to right, #7c13b5, #b470b0);
    --degrade2: linear-gradient(40deg, #03001e, #461268, #c238ec, #fdeff9);
    --degrade3: linear-gradient(to top, #5a2da3, #7f4ea0);
    --fondogris: radial-gradient(#1f1f1f, black);
}

body {
    background: var(--gris);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #474747;
}