.contacto-container {
    background: url("/public/img/olas.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px;
    box-sizing: border-box;
}

.contacto-header, .contacto-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Kanit;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px black;
}

.contacto-header h2 {
    display: block;
    font-family: Dela Gothic One;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: normal;
}

.contacto-header h2::after {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 50px;
    background: white;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px
}

.contacto-container {
    form {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        max-width: 800px;
        margin-block: 60px;
    }

  input, textarea {
    backdrop-filter: blur(10px);
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ffffff8f;
    background: #f0bdff1a;
    transition: 0.2s;
    color: white;
    font-family: Kanit;
    font-size: 15px;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder {
    color: #ffffff88;
    font-family: Kanit;
    font-weight: 300;
  }
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  textarea:hover {
    border: 1px solid white;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: 0;
    box-shadow: inset 0 0 10px #ffffff46;
  }
  
  textarea {
    resize: none;
    height: 100%;
  }
  
  input[type="submit"] {
    grid-column: 1 / span 2;
    padding: 15px;
    background: white;
    color: #715485;
    border: 0;
    border-radius: 30px;
    font-size: 19px;
    font-family: Kanit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  
  input[type="submit"]:hover {
    color: #422657;
    background: #dddddd;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
    box-shadow: inset 0 0 20px white, inset 0 0 5px white, inset 0 0 10px #ffffff;
  }
  
  .field:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  
  .field:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  
  .field:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  }
}